.divBox{
	border: 1pt solid #000120;
	background-image: url('images/hbar.gif');
	width: 50%;
	text-align: center;
	margin: 20px;
	padding: 5px;
	font-weight: bold;
	font-family: Verdana;
	color: white;
	
}

 table.blockTable {
	font-size: 9pt;
	font-family: Verdana;
}

 .blockTable TH  {
	border: 0.5pt solid #000120;
	font-size: 9pt;
	background-image: url('images/hbar.gif');
	color: black;	
}

 .blockTable TD {
	border: 0.5pt solid #000120;
	font-size: 9pt; 
}

.sortTitle A {
	text-decoration: none;
	font-family: Verdana;
	font-size: 9pt;
	color: black;	
}

.caption {
	border: 0.5pt solid #000120;
	font-size: 9pt;
	background-image: url('images/hbar.gif');
	text-align: center;
	padding: 5px;
	font-weight: bold;
	font-family: Verdana;
	color: black;
}